[View in Colaboratory](https://colab.research.google.com/github/princekiran/EliteExports/blob/master/practice_numpy.ipynb)

In [1]:
import numpy as np
np.__version__


student = np.dtype([('name','S20'), ('age', 'b1'), ('marks', 'f4')]) 
a = np.array([('abc', 21, 50),('xyz', 18, 75)], dtype = student) 
print(a['age'],a['marks'])

[ True  True] [50. 75.]

In [2]:
k = np.array([[1,2,3],[4,5,6]])
k.shape = (3,2)
k

array([[1, 2],
       [3, 4],
       [5, 6]])

In [24]:
a = np.arange(24)
print(a.flags)
k = a.reshape(2,4,3)
k.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

  C_CONTIGUOUS : True
  F_CONTIGUOUS : False
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [28]:
b = np.zeros([3,2],dtype=[('x','i4'),('y','i4')])
print(b)

[[(0, 0) (0, 0)]
 [(0, 0) (0, 0)]
 [(0, 0) (0, 0)]]

In [29]:
x = (1,2,3)
c = np.array(x)
print(c)

[1 2 3]